html,body {
    background-color : #C9DDB0;
/*     background-image:url(images/Texture0208.jpg); */
    font-family : 'Bitstream Vera Sans',Tahoma, Verdana,  Helvetica, 'sans-serif';
    font-size : 14px;
    line-height:20px;
    color:#4d4d4d;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
	height:100%;
}


#mc {
padding:20px 0px 20px 0px;
/* background-color:#f1f1f1; */
min-height:100%;
  }


#main {
/* background-color:#ffffff; */
    margin: 0px auto;
    width:750px;
  }

#mainContener {
background-color: #FFFFFF;
border-left:1px solid #B6B6B6;
border-right:1px solid #B6B6B6;
}

#header {
  }


#doctor {
    width: 750px;
    height: 230px;
    margin:0px 0px 0px 0px;
    background-image:url(images/header.png);
  }


#footer {
/*     margin:30px auto 0px auto; */
    padding:0px 0px 0px 0px;
    background-image:url(images/footer.png);
    width: 750px;
    height: 30px;
    background-repeat:no-repeat;
  }


#content {
/*     width:500px; */
    margin:0px 5px;
    padding:180px 30px;
    text-align:justify;
background-color:#F6F6DB;
  }
  
#content_footer {
/*     width:500px; */
    font-size : 11px;
    line-height:15px;
    text-align:center;
    color:#5a5a5a;
    margin:0px 5px;
    padding:5px 30px;
    text-align:center;
	background-color:#F6F6DB;
	display:block;
  }
  

a {
	text-decoration:none;
    font-style: normal;
}

a.copywright {
    font-size : 10px;
    font-style: normal;
    color:#5a5a5a;
}

a.fblogo {
	text-align: center;
}

#content ul {
	padding: 0px 0px 0px 20px;
	}

#adres {
float:right;
/*     background-repeat:no-repeat; */
/*     background-image:url(images/adres.png); */
width:200px;
height:63px;
margin:15px 40px 0px 0px;

}

#menu {
    position:absolute;
    top:250px;
    width:500px;
    z-index:10;
    margin: 0px 0px 0px 15px;
  }

#submenu {
    position:absolute;
    top:267px;
    width:300px;
    z-index:10;
    margin: 0px 0px 0px 253px;
}

#submenu ul {
	margin: 0px 0px 0px 0px;
}

#submenu li {
	margin: 0px 30px 4px 0px;
	font-size:12px;
	cursor: pointer;
}
#submenu li.selected {
	font-weight: bold;
}
#submenu li:hover {
	font-weight: bold;
}

#menu ul {
 float:left;
width:200px;
}

#submenu ul {
width:175px;
}
#submenu ul li {
height: 18px;
}



#menu ul li {
    height:18px;
    margin: 3px 0px 0px 0px;
    background-repeat:no-repeat;
    cursor: pointer;
  }

#menu ul #mNas { background-image:url(images/mNas.png);margin: 2px 0px 0px 0px ; padding: 0px 0px 0px 0px;}
#menu ul #mNas.selected  { background-image:url(images/mNas_sel.png);}
#menu ul #mNas:hover { background-image:url(images/mNas_sel.png);}
#menu ul #mSer { background-image:url(images/mSer.png);margin: 1px 0px 0px 0px ; padding: 0px 0px 0px 0px;}
#menu ul #mSer.selected { background-image:url(images/mSer_sel.png);}
#menu ul #mSer:hover { background-image:url(images/mSer_sel.png);}
#menu ul #mDoc { background-image:url(images/mDoc.png);margin: 4px 0px 0px 0px ; padding: 0px 0px 0px 0px;}
#menu ul #mDoc.selected { background-image:url(images/mDoc_sel.png);}
#menu ul #mDoc:hover { background-image:url(images/mDoc_sel.png);}
#menu ul #mCon { background-image:url(images/mCon.png);margin: 3px 0px 0px 0px ; padding: 0px 0px 0px 0px;}
#menu ul #mCon.selected { background-image:url(images/mCon_sel.png);}
#menu ul #mCon:hover { background-image:url(images/mCon_sel.png);}
#menu ul #mGal { background-image:url(images/mGal.png); margin: 0px 0px 0px 0px ; padding: 0px 0px 0px 0px;}
#menu ul #mGal.selected { background-image:url(images/mGal_sel.png);}
#menu ul #mGal:hover { background-image:url(images/mGal_sel.png);}

#menu ul #mPra { background-image:url(images/mPra.png); margin: 0px 0px 0px 0px ; padding: 0px 0px 0px 0px;}
#menu ul #mPra.selected { background-image:url(images/mPra_sel.png);}
#menu ul #mPra:hover { background-image:url(images/mPra_sel.png);}

#menu ul #mPart { background-image:url(images/mPart.png); margin: 0px 0px 0px 0px ; padding: 0px 0px 0px 0px;}
#menu ul #mPart.selected { background-image:url(images/mPart_sel.png);}
#menu ul #mPart:hover { background-image:url(images/mPart_sel.png);}

#menu ul #mAbo { background-image:url(images/mAbo.png); margin: 0px 0px 0px 0px ; padding: 0px 0px 0px 0px;}
#menu ul #mAbo.selected { background-image:url(images/mAbo_sel.png);}
#menu ul #mAbo:hover { background-image:url(images/mAbo_sel.png);}


#submenu ul #mPora { background-image:url(images/mPora.png); margin: -1px 0px 2px 0px ; padding: 0px 0px 0px 0px;}
#submenu ul #mPora.selected { background-image:url(images/mPora_sel.png);}
#submenu ul #mPora:hover { background-image:url(images/mPora_sel.png);}

#submenu ul #mReha { background-image:url(images/mReha.png); margin: 0px 0px 1px 0px ; padding: 0px 0px 0px 0px;}
#submenu ul #mReha.selected { background-image:url(images/mReha_sel.png);}
#submenu ul #mReha:hover { background-image:url(images/mReha_sel.png);}

#submenu ul #mDia { background-image:url(images/mDia.png); margin: 0px 0px 0px 0px ; padding: 0px 0px 0px 0px;}
#submenu ul #mDia.selected { background-image:url(images/mDia_sel.png);}
#submenu ul #mDia:hover { background-image:url(images/mDia_sel.png);}

#submenu ul #mEst { background-image:url(images/mEst.png); background-repeat: no-repeat; margin: 4px -15px 0px 3px ; padding: 0px 0px 0px 0px;}
#submenu ul #mEst.selected { background-image:url(images/mEst_sel.png); background-repeat: no-repeat;}
#submenu ul #mEst:hover { background-image:url(images/mEst_sel.png); background-repeat: no-repeat;}

#submenu ul #mSzk { background-image:url(images/mSzk.png); background-repeat: no-repeat; margin: 2px 0px 0px 3px ; padding: 0px 0px 0px 0px;}
#submenu ul #mSzk.selected { background-image:url(images/mSzk_sel.png); background-repeat: no-repeat;}
#submenu ul #mSzk:hover { background-image:url(images/mSzk_sel.png); background-repeat: no-repeat;}

h1 {
font-size:20px;
color:#453748;
text-align:center;
}

ul {
    list-style: none;
  }

ul.service li {
	list-style-type:disc;
	 font-weight: normal !important;
	}

#cornerTop {
width:100%;
height:230px;
}

#cornerTopLeft{
width:20px;
height:20px;
float:left;
background-image:url(images/corTL.png);
}
#cornerTopCenter{
width:710px;
height:230px;
background-color:#FFFFFF;
float:left;
}
#cornerTopRight{
width:20px;
height:20px;
float:left;
background-image:url(images/corTR.png);
}


#cornerBot {
width:100%;
height:20px;
}

#cornerBotLeft{
width:20px;
height:20px;
float:left;
background-image:url(images/corBL.png);
}
#cornerBotCenter{
width:710px;
height:19px;
background-color:#FFFFFF;
float:left;
border-bottom:1px solid #B6B6B6;
}
#cornerBotRight{
width:20px;
height:20px;
float:left;
background-image:url(images/corBR.png);
}

p.zabiegi {
	margin: 50px 0px 0px 0px;
}


p.innews {
    padding-bottom: 10px;
	
}

.rehItem {
	clear: both;
}


.rehData {
	padding-top: 25px;
}

.nazwa {
	float:left;
	font-weight: bold;
	margin: 0px 5px 0px 0px;
}
.rozszerzenie {
	font-weight: normal;
}

p.licence {
		padding-top: 10px;
		font-size: 11px;
	}
	
p.disclaimer {
	padding-top: 20px;
	font-size: 12px;
	}

.tresc {
	clear:both;
	margin:0 0 0 20px;
}
.tresc2 {
	clear:both;
	margin:0 0 1px 20px;
}
.tresc_plus {
	clear:both;
	margin:0 0 0 20px;
	color: green;
}
.tresc_minus {
	clear:both;
	margin:0 0 0 20px;
	color: red; 
}

p.tresc {		
	padding-top: 5px;
	font-weight: bold;
	margin: 0px 0px 0px -10px;
}

a.showhide {
    font-size : 12px;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
	margin: 0px 0px 0px 10px;
    color:#5a5a5a;
}

.docListWraper {
	clear:both;
	padding:1px 0 0;
}

.docData {
	clear: both;
}
.titul {
	float:left;
	font-weight: bold;
	margin: 0px 5px 0px 0px;
}
.imie {
	float:left;
	font-weight: bold;
}

.onim {
	clear:both;
	margin:0 0 0 20px;
}

h1.news {
	text-align:left;
	margin: 50px 0px 0px 0px;
}

li.news {
	margin: 0px 0px 20px 0px;
/*	text-align:center;
	font-weight: bold;
*/
	font-size : 16px;
}

h3.poz {
	text-align:center;
	font-variant: small-caps;
	margin: 0px 0px 0px 0px;
	color: red;
}

li.emergency_news {
	margin: 0px 0px 20px 0px;
	font-size : 17px;
	color: red;
}

p.listhead {
margin: 5px 0px 1px 0px;
}

p.map {
	text-align:center;
	align:center;
}

img.logo {
	width: 360px;
	/* height: 3.8em; */
}

h1.polecane {
	margin: 40px 0px 0px 0px;
}

img.logo_medica {
	/* width: 220px;
	/* height: 3.8em; */
}

img.logo_uniqua {
	/* width: 160px;
	height: 3.8em; */
}

img.logo_alianz {
	/* width: 160px;
	/* height: 3.8em; */
}

img.logomp {
	margin: 5px 0px 0px 12px;
}

ul.listtext {
margin: 1px 0px 5px 0px;
}

li p {
margin: 0px 0px 0px 20px;
font-weight: normal;
}

ul.porady li {
 font-weight: bold;
}

hr.news {
    border: 0;
    width: 66%;
	color: #ccc;
	background-color: #ccc;
	height: 1px;
	margin-bottom: 15px;
	margin-top: 10px;
	text-align: center;
}


#showhideall {
	text-align: right;
	
	margin-bottom: -40px;
	}


/*
#showhideall {display:block; top:400px; right:20px; width:130px; position:fixed; border:1px solid #888; padding:10px; text-align:center; font-weight:bold; color:#fff;}
*/
